<style>
    .f-info-socials a {
        color: inherit; /* Keeps the original color of the icons */
        font-size: 2rem; /* Adjust icon size */
        transition: color 0.3s ease;
    }

    .f-info-socials a:hover {
        color: #fe424d; /* Change icon color on hover */
    }

    .f-info-links a {
        margin: 0 5px;
    }
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/daniyal.khawar.92" target="_blank" aria-label="Facebook">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/__dnyl__/" target="_blank" aria-label="Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/daniyal-khawar-506344304/"  target="_blank" aria-label="Linkedin">
            <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" target="_blank">Privacy</a>
            <a href="/terms" target="_blank">Terms</a>
        </div>
    </div>
</footer>