<% layout("/layouts/boilerplate")%>
<style>
  #filters{
    display:flex;
    flex-wrap:wrap;
    margin-left: 2rem;
  }
  .filter{
    text-align:center;
    margin-right: 4rem;
    margin-top: 2rem;
    opacity:0.5;
    font-size:1.4rem;
  }
  .filter:hover{
    opacity:1;
    cursor:pointer;
  }
  .filter p{
    font-size:0.8rem;
  }
  #filters a{
    text-decoration: none;
    color:black;
  }
  @media (max-width: 768px) {
  #filters {
    display: none;
  }
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dropdown-item i {
  margin-right: 10px;
}
.category{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
</style>
<body>
     <div id="filters">
      <a href="/listings/trending" class="filter-link">
        <div class="filter">
          <div><i class="fa-solid fa-fire"></i></div>
          <p>Trending</p>
        </div>
      </a>
      <a href="/listings/rooms" class="filter-link">
        <div class="filter">
          <div><i class="fa-solid fa-bed"></i></div>
          <p>Rooms</p>
        </div>
      </a>
      
      <a href="/listings/cities" class="filter-link">
        <div class="filter">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic Cities</p>
        </div>
      </a>
      
      <a href="/listings/mountains" class="filter-link">
        <div class="filter">
          <div><i class="fa-solid fa-mountain"></i></div>
          <p>Mountains</p>
        </div>
      </a>
      
      <a href="/listings/castles" class="filter-link">
        <div class="filter">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p>
        </div>
      </a>
      
      <a href="/listings/pools" class="filter-link">
        <div class="filter">
          <div><i class="fa-solid fa-person-swimming"></i></div>
          <p>Amazing Pools</p>
        </div>
      </a>
      
      <a href="/listings/camping" class="filter-link">
        <div class="filter">
          <div><i class="fa-solid fa-campground"></i></div>
          <p>Camping</p>
        </div>
      </a>
      
      <a href="/listings/farms" class="filter-link">
        <div class="filter">
          <div><i class="fa-solid fa-cow"></i></div>
          <p>Farms</p>
        </div>
      </a>
      
      <a href="/listings/snowy" class="filter-link">
        <div class="filter">
          <div><i class="fa-solid fa-snowflake"></i></div>
          <p>Snowy</p>
        </div>
      </a>
      
     </div>

<div class="dropdown d-md-none">
  <button class="btn btn-secondary dropdown-toggle category" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    Categories
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="/listings/trending"><i class="fa-solid fa-fire"></i> Trending</a></li>
    <li><a class="dropdown-item" href="/listings/rooms"><i class="fa-solid fa-bed"></i> Rooms</a></li>
    <li><a class="dropdown-item" href="/listings/cities"><i class="fa-solid fa-mountain-city"></i> Iconic Cities</a></li>
    <li><a class="dropdown-item" href="/listings/mountains"><i class="fa-solid fa-mountain"></i> Mountains</a></li>
    <li><a class="dropdown-item" href="/listings/castles"><i class="fa-brands fa-fort-awesome"></i> Castles</a></li>
    <li><a class="dropdown-item" href="/listings/pools"><i class="fa-solid fa-person-swimming"></i> Amazing Pools</a></li>
    <li><a class="dropdown-item" href="/listings/camping"><i class="fa-solid fa-campground"></i> Camping</a></li>
    <li><a class="dropdown-item" href="/listings/farms"><i class="fa-solid fa-cow"></i> Farms</a></li>
    <li><a class="dropdown-item" href="/listings/snowy"><i class="fa-solid fa-snowflake"></i> Snowy</a></li>
  </ul>
</div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(listing of allListings) {%>
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height:20rem">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%=listing.title%></b>
                        <br>
                        &#8360; <%=listing.price.toLocaleString("en-PK")%> / night
                      </p>
            
                    </div>
                </div>
            </a>
            <%}%>
    </div>
</body>